$primary-color: #E51B23;
$secondary-color: #1D1D1D;
$body-background: #F5F5F5;
$text-color: #F5F5F5;
$nav-item-bg: #F5F5F5;
$nav-item-color: #000;

$nav-item-border-width: 1.5px;

$btn-outline-hover-bg: #E51B23;
$btn-outline-hover-color: #F5F5F5;

$tab-btn-border-color: #F5F5F5;
$project-border-color: #F5F5F5;